/tutorials-2.1-0/${project.build.directory}/test-classes/cn/bugstack/design/Test/ApiTest.class
/tutorials-2.1-1/${project.build.directory}/test-classes/cn/bugstack/design/Test/ApiTest.class
/.idea/
/tutorials-2.1-1/${project.build.directory}/
/tutorials-2.1-0/${project.build.directory}/
/tutorials-2.1-0/target/
/tutorials-2.1-1/target/
